/* ===== Global Styling ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 3rem 2rem;
}

h1 {
    margin-bottom: 1rem;
}

/* ===== Glossary Styling ===== */

dt {
    font-weight: bold;

    cursor: default;
}

dt:hover + dd {
    color: dodgerblue;
    transform: translateY(-3px);
}

dd {
    margin-left: 2.5rem;
    transition: all .2s ease;
}